 .commentlist>li.DJL-LR-Comments-Tracker-New
 {
   background-color: #FFD;
   >div
   {
     background-color: #FFD;
   }
 }
 #DJL-LR-CommentsTracker-Menu
 {
   &:not(.shown) {
     display: none;
   }
   position: fixed;
   top:15px;
   right:15px;
   z-index:99908;
   background-color: white;
   box-shadow: 0 2px 3px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2);
   min-width: 500px;
   max-width: 50%;

   h1
   {
     font-size: 1.2em !important; //I hate having to use important, but no choice here as the style we're overriding is already important
   }
   table
   {
     font-size: 1em;
   }
   #Track
   {
     color: green;
   }
   #UnTrack
   {
     color: red;
   }
   #Track, #Untrack
   {
     cursor: pointer;
   }
   &.tracking
   {
     #Track
     {
       display: none;
     }
   }
   &:not(.tracking)
   {
     #Untrack
     {
       display: none;
     }
   }
   #TrackedPages
   {
     width: 100%;
     th,td {
       width: auto;
     }
     tbody>tr>th {
       background-color: white;
       font-weight: normal;
     }
     tr.current
     {
       &,td,th
       {
         background-color: #EFE;
       }
     }
   }
 }
 #DJL-LR-CommentsTracker-Icon
 {
   position:fixed;
   top:5px;
   right:5px;
   border-radius: 100%;
   box-shadow: 0 5px 7px rgba(0,0,0,0.2), 0px 0px 5px rgba(0,0,0,0.1);
   cursor: pointer;
   z-index:99909;
   padding: 5px;
   background-color:#ad6c60;
   color: white;
   vertical-align: middle;
   text-align: center;
   line-height: 1em;
   &:hover
   {
     background-color: white;
     color: #222;
     box-shadow: 0 10px 13px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.1);

   }
 }


 .DJL-LR-CommentsTracker-Updates
 {
   position: fixed;
   top:0;
   right:0;
   z-index:99910;
   ul
   {
     li
     {
       background-color: #ad6c60;
       margin-bottom: 1em;
       box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.1);
       color: white;
       max-height: 200px;
       overflow: hidden;
     }
   }
   h1
   {
     font-size: 1.2em !important;
     text-align: center;
     font-weight: bold;
   }
   .commentsDate
   {
     color: #ccc;
     font-size: 0.8em;
   }
   .authorBlogName >a.url
   {
     &, &:hover{
       color: #333;
       font-size: 1.1em;
     }
   }
   .commenttext>p
   {
     line-height: 1.2em;
     margin-bottom: 0.5em;
   }
 }

 .ClearFix
 {
   clear: both;
   display: block;


 }

